<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="custom-title">Generación de certificados</h1>
    <p class="custom-subtitle">Rellena los datos para generar un nuevo certificado</p>
  </div>
  <div class="custom-card w-100">
    <h2 class="card-title">Nuevo certificado</h2>

    <div class="mb-3 custom-input-group">
      <label [ngClass]="{'text-danger-label': invalidField(nameRef)}" class="form-label" for="name">Nombre</label>
      <input [(ngModel)]="name" name="name" #nameRef="ngModel" maxlength="150" required type="text" class="form-control custom-input" placeholder="Nombre del alumno" id="name">
        @if (invalidField(nameRef)) {
          <div class="error-message">
            <i class="ph ph-warning-circle"></i>
            <p class="m-0">Nombre del  alumno es obligatorio.</p>
          </div>
        }
    </div>

    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label class="form-label" for="activity">Actividad</label>
        <input [(ngModel)]="activity" name="activity" #activityRef="ngModel" maxlength="50" required type="text" class="form-control custom-input" placeholder="Actividad realizada" id="activity">
      </div>
      <app-secondary-button
        buttonText="Añadir"
        phClass="ph ph-plus"
        [disabled]="activity.length == 0"
        (click)="addActivityToList()"
      ></app-secondary-button>
    </div>

    <div class="items-group">
      <label class="form-label">Lista de actividades</label>
      <div class="items-list w-100">
          @for (activity of activityList; track $index) {
            <div class="item">
            <span class="item-text">{{activity}}</span>
            <div class="remove-btn" (click)="removeActivityToList($index)">
              <i class="ph-bold ph-x"></i>
            </div>
          </div>
          @if ($index + 1 != activityList.length) {
            <hr>
          }
          }
      </div>
    </div>

    <app-primary-button [disabled]="!validForm()" buttonText="Generar certificado"></app-primary-button>
  </div>
</form>
