.custom-card {
  max-width: 672px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  padding: 2rem;
}

.card-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.75rem;
  letter-spacing: 0;
  color: #1a2856;
  margin-bottom: 1rem;
}

.items-group {
  margin-bottom: 2rem;
}

label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #1a2856;
}

.custom-input {
  height: 2.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
}

.custom-input:focus {
  border: 1px solid #3b5ac2;
  box-shadow: none;
}

.custom-input-group {
  margin-bottom: 1.25rem !important;
}

.custom-input-group:has(input:focus) label {
  color: #3b5ac2;
}

.error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #d71d1d;
  margin-top: 8px;
}

.error-message p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0;
  vertical-align: middle;
}

.custom-input-group:has(.error-message) > label {
  color: #d71d1d;
}

.items-list {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 1rem;
}

.items-list hr {
  all: unset;
  display: block;
  height: 1px;
  margin: 12px 0;
  background-color: #e2e8f0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn i {
  padding: 5.75px;
  color: #e95f5f;
  cursor: pointer;
  font-size: 12.5px;
}

.remove-btn i:hover {
  background-color: #e2e8f0;
  border-radius: 4px;
}
