.certificate-menu {
  max-width: 50rem;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.back-btn p {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0;
  vertical-align: middle;
  color: #64748b;
}

.back-btn i {
  font-size: 1rem;
  color: #64748b;
}

.certificate {
  position: relative;
  margin-top: 2rem;
  width: 50rem;
  height: 34.375rem;
  background-image: url(../../../../public/certificate/certificate-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}

.certificate-content {
  position: relative;
  width: 45rem;
  height: 29rem;
  background-color: #fff;
  border-radius: 8px;
}

.certificate-content p {
  margin: 0;
}

.medal-icon {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  z-index: 1;
}

.info-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 3.75rem 2.5rem 3rem 2.5rem;
}

.title-subtitle-certificate h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: 10%;
  color: #1a2856;
}

.title-subtitle-certificate p {
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0;
  margin: 0;
  color: #121621;
}

.student-name {
  text-align: center;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 5rem;
  letter-spacing: 0;
  color: #3b5ac2;
}

.student-activities-group {
  width: 26rem;
}

.student-activities-title {
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0;
  color: #121621;
  margin-bottom: 8px !important;
}

.student-activities-list {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: #121621;
}

.emission-date {
  color: #121621;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
}

.signature-icon {
  position: absolute;
  right: 2.5rem;
  bottom: 1.5rem;
  height: 4rem;
  width: 4rem;
}
